<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditional Action</title>
</head>
<body>
    {{if .Name}}
        <h1>Hi, {{.Name}}</h1>
    {{else}}
        <h1>Name is not provided</h1>
    {{end}}
</body>
</html>